doctype html
html(lang="en")
    head
        title= "Mitch Rickman - Web developer"
        link(href='css/main.css' rel='stylesheet')

        meta(name="viewport" content="width=device-width, initial-scale=1")

    body
        div(class='wrapper')
            div(class='button__wrap text')
                div(class='button__timer', id='timer') 10
                button(class='button', id='button') Click

    script(src='js/main.js', language='javascript')
