div(class='detail__wrap')

    ul(class='detail')

        li(class='detail__item')
            div(class='detail__label') Employment:
            h2(class='detail__name') Next IT
               span(class='detail__job-title') - Lead frontend developer
            p(class='detail__meta') 2011 - Current
            p(class='detail__description') As the lead front end developer at Next IT I detailed on multitude of projects. I built websites, landing pages, emails, helped develop some of our internal web based tools and products. I was also in charge of web accessiblity efforts and I would help anyone who may have been stuck on a particularly challenging front end based challenge. I built websites into content management systems as well as helped with design here and there.
            p
                button(class='button--details') Details

        li(class='detail__item')
            div(class='detail__label') Employment:
            h2(class='detail__name') Freelance web developer
            p(class='detail__meta') 2010 - Current
            p(class='detail__description') On and off throughout the years I have helped local businesses with their web development needs.
            p
                button(class='button--details') Details
