div(class='detail__wrap')
    ul(class='detail')

        li(class='detail__item')
            div(class='detail__label') Project:
            h2(class='detail__name') Next IT website
            p(class='detail__meta')
                a(href='http://www.nextit.com', target='_blank') http://www.nextit.com
            div(class="detail__description")
                p Next IT's website circa 2016. The design was templated with php and I used javascript to help build the subtle animations.
                p(class="detail__technologies") gulp, webpack, php, html, css, sass, javascript, angular.js
            p
                button(class='button--details') Details

        li(class='detail__item')
            div(class='detail__label') Project:
            h2(class='detail__name') Next IT blog
            p(class='detail__meta')
                a(href='http://blog.nextit.com', target='_blank') http://blog.nextit.com
            div(class="detail__description")
                p(class='detail__description') The Next IT blog is built on top of the Wordpress CMS. This is a custom built template with backend integration custom made to manage our subscriptions.
                p(class="detail__technologies") wordpress, grunt, php, html, css, sass, javascript
            p
                button(class='button--details') Details
